body{
    background-color: rgb(0, 238, 255)
}

table,th,td{
    margin: auto;
    border: 3px;
    border-style: outset;
}

h1{
    text-align: center;

}

#tableViewUser tbody tr, td,th{
    padding: 10px 0;
    text-align: center;
    background-color: rgba(226, 43, 186, 0.815);
}





   